@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,700,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
}
p{
    margin-bottom: 1rem;
}
ul,
ol{
    padding-left: 1em;
}
li{
    list-style: square;
}
body {
    font-family: 'Hepta Slab', serif;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.618;
}
nav{
    border-top:2px solid #FEDC2A;
    display: flex;
    justify-content: center;
    padding: 2em 0;
    font-size: 80%;
}
a{
    color:#000;
    padding: 1px .5em;
    position: relative;
    text-decoration: none;
}
a:before {
    position: absolute;
    content: "";
    width: 80%;
    height: 5px;
    background-color: #FEDC2A;
    top: 45%;
    left: 10%;
    z-index: -1;
    -webkit-transition: all .275s;
    transition: all .275s;
}
a:hover:before,
a:active:before{
    width: 100%;
    left: 0;
    top: auto;
    height: 100%;
    -webkit-transition: all .275s;
    transition: all .275s;
}
.misson{
    text-align: center;
}
.misson h1{
    font-size: calc(30px + 2vw);
}
.misson h1:hover{
    text-shadow: 1px 0 0 #20a000, -4px -5px 0 rgba(0,0,0,.1);
}
footer{
    padding: 2.5em 1em;
    text-align: center;
    border-bottom:2px solid #FEDC2A;
}
main,
article{
    max-width: 600px;
    margin: auto;
    padding: 1em;
}
.em1{
    margin: 1em 0;
}
#twitter-widget-0{
    display: inline-block;
    margin: auto;
    margin-bottom: 1em;
}
.intro{  
    text-align: center;
}
.intro img,
.intrests img{
    width: 100px;
    margin: auto;
    
}
.intrests{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1.5em;
    max-width: 1100px;
    margin: auto;
    padding: 1em;
}
.intrests div{
    text-align: center;
    padding: 2em 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.resourses div,
.blog div{
    padding: 2em 0;
    border-bottom: 1px solid black;
}
.blog a:nth-child(1){
    display: inline-block;
}
.img-box{
    margin: 1em 0;
}
figcaption{
    font-style: italic;
}
blockquote{
    padding-left: 1em;
    border-left: .5rem solid #FEDC2A;
}
.more-blog{
    padding-top: 2em;
}
.more-blog a:last-child{
    float: right;
}
blockquote p:first-child{
    font-size: 25px;
    font-style: italic;
}

@media only screen and (min-width: 768px){
    nav{
        font-size: 100%;
    }
    .intrests{
        grid-template-columns: repeat(3,1fr);
        grid-gap: 2em;
    }
    article h1{
        font-size: 50px;
    }
    article h2{
        font-size: 35px;
    }
    blockquote p:first-child{
        font-size: 35px;
    }
}