@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}
a{
    text-decoration: none;
}
img{
  width: 100%;
}
strong {
  font-weight: normal !important;
}
em{
  font-style: initial !important;
}
html{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    color: #414141;
    scroll-behavior: smooth;
}
p{
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.4rem;
}

nav{
    padding: .6em 15px;
    width: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
}
.self-center{
    align-self: center;
}
.logo{
  width: 100px;
}
.whatsapp{
  width: 50px;
  display: inline-block;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 999;
}
.cta1{
  display: flex;
}
#welcome-screen,
#by-screen{
    padding-top: 72px;
    background: #665fee;
    background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
    background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  }
  .welcome-form-inner{
    padding: 30px 15px;
    -webkit-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 11px 68px -20px rgba(0, 0, 0, 0.75);
    border-radius: .25rem!important;
    background-color: #ffffff;
}
.welcome-form{
    padding-top: 5vh;
}
.welcome-msg{
  padding:10vh 0 0;
}
.welcome-msg h1{
    font-size: 1.6em;
    margin-bottom: .2em;
}
.text-center{
  text-align: center;
}
section{
  padding-top: 4em;
  padding-bottom: 1em;
}
.m-b-3{
  margin-bottom: 3em;
}
.m-t-3{
  margin-top: 3em;
}
#courses h3{
  margin-bottom: .5em;
}
.course-icon{
  width:80px;
}
#courses .col-6{
  margin-bottom: 1em;
}
.diffrent-box{
  margin-left: 15px;
  padding-left: 50px !important;
  position: relative;
  margin-bottom: 1em;
}
.diffrent-img{
  width: 200px;
  margin: auto;
}
.diffrent-icon{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 40px;
}
.welcome-msg a{
  color: rgba(255, 255, 255, .7);
  text-decoration: underline;
}
.svg-icon {
  width: 2em;
  height: 2em;
  margin-bottom: -10px;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: rgba(255, 255, 255, .7);
}

.svg-icon circle {
  stroke: rgba(255, 255, 255, .7);
  stroke-width: 2;
}
.social-svg-icon {
  width: 1em;
  height: 1em;
  margin-bottom: -10px;
}
.social-svg-icon path,
.social-svg-icon polygon,
.social-svg-icon rect {
  fill: #665fee;
}

.social-svg-icon circle {
  stroke: #665fee;
  stroke-width: 2;
}
 
  .color-white{
      color: white;
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background: rgb(102, 95, 238);
    color: #ffffff;
  }
  .btn:hover{
      box-shadow: 0px 15px 28px -5px rgba(102, 95, 238, .45);
  }
  .btn-block{
      display: block;
      width: 100%;
      padding: 0.6rem 0.75rem;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  footer{
    padding: 3em 15px;
  }
  footer p{
    margin-bottom: 0px;
  }
  .social-icon{
    padding-bottom: 2em;
  }
  .social-icon a{
    padding:.5em;
  }
@media (min-width: 768px) {
  nav{
    padding: .6em 10%;
  }
  .whatsapp{
    width: 37px;
    margin-right: 20px;
    display: inline-block;
    position: initial;
  }
  #welcome-screen,
  #by-screen{
    height: 100vh;
  }
  .welcome-msg h1{
    font-size: 2.5em;
}
  .diffrent-box{
    margin-left: 0px;
  }
  .diffrent-img{
    width: 100%;
  }
  #courses p{
    padding-right: 50px;
  }
  .welcome-form-inner{
    padding: 50px;
  }
}

   /* Bootstrap */
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  
  .col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  
  .col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  
  .col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  
  .col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  
  .col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  
  .col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  
  .col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  
  .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none;
    }
  }
  
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0;
  }
  
  .form-control:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #495057;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .form-control::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1;
  }
  
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }
  
  select.form-control:focus::-ms-value {
    color: #495057;
    background-color: #fff;
  }
  .form-group {
    margin-bottom: 1rem;
  }